<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>문의 목록</title>
</head>
<body>
<table>
    <tr>
        <th>제목</th>
        <th>분류</th>
        <th>작성일시</th>
        <th>답변여부</th>
    </tr>
    <tr th:each="inquiry : ${inquiryList}" th:attr="data-id=${inquiry.inquiryId}">
        <td>
            <a th:href="@{/cs/inquiry/detail/{inquiryId}(inquiryId=${inquiry.inquiryId})}"
               th:text="${inquiry.title}"></a>
        </td>
        <td th:text="${inquiry.inquiryCategory}"></td>
        <td th:text="${inquiry.date}"></td>
        <td th:if="${inquiry.answerCheck}">답변 완료</td>
        <td th:if="${!inquiry.answerCheck}">답변 없음</td>
    </tr>
</table>
</body>
</html>