<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>inquriyRegister</title>
</head>
<body>
문의하기 폼
<form method="post" action="/student/register">
    제목<input type="text" name="id"/><br/>

    분류<input type="text" name="password"/><br/>

    본문<input type="text" name="name"/><br/>

    작성날짜<input type="text" name="email"/><br/>

    작성자<input type="text" name="score"/><br/>

    <textarea name="comment" rows="10" cols="80"></textarea><br/>
    <input type="submit"/>
</form>

<form method="get" action="/">
    <button type="button">취소</button>
</form>
</body>
</html>