<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>inquriyRegister</title>
</head>
<body>
문의하기 폼
<form method="post" action="/cs/inquiry" enctype="multipart/form-data">
    제목<input type="text" name="title"/><br/>
    분류<input type="text" name="inquiryCategory"/><br/>
    본문<textarea name="content" rows="10" cols="80"></textarea><br/>
    작성자
    <input type="file" name="file"/><br/>
    <button type="submit">등록하기</button>

</form>


<form method="get" action="/cs/">
    <button type="submit">취소</button>
</form>
</body>
</html>